USE [master]
GO
/****** Object:  Database [CHUNGKHOAN]    Script Date: 7/18/2022 10:44:27 AM ******/
CREATE DATABASE [CHUNGKHOAN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CHUNGKHOAN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\CHUNGKHOAN.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CHUNGKHOAN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\CHUNGKHOAN_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CHUNGKHOAN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CHUNGKHOAN]
GO
/****** Object:  Table [dbo].[CACQUYDINH]    Script Date: 7/18/2022 10:44:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CACQUYDINH](
	[IdQuyDinh] [int] IDENTITY(1,1) NOT NULL,
	[BienDoGia] [int] NOT NULL,
	[BuocGiaDatLenh] [money] NOT NULL,
	[LoLenhToiThieu] [int] NOT NULL,
	[MaSan] [nchar](3) NOT NULL,
 CONSTRAINT [PK_CACQUYDINH] PRIMARY KEY CLUSTERED 
(
	[IdQuyDinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COPHIEU]    Script Date: 7/18/2022 10:44:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COPHIEU](
	[MaCP] [nchar](10) NOT NULL,
	[TenCongTy] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](150) NOT NULL,
	[SDT] [nvarchar](10) NOT NULL,
	[Fax] [nvarchar](10) NOT NULL,
	[DiaChiWeb] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[SoLuongNiemYet] [int] NOT NULL,
	[MaSan] [nchar](3) NOT NULL,
 CONSTRAINT [PK_COPHIEU] PRIMARY KEY CLUSTERED 
(
	[MaCP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_DIACHIWEB] UNIQUE NONCLUSTERED 
(
	[DiaChiWeb] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_FAX] UNIQUE NONCLUSTERED 
(
	[Fax] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_SDT] UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_TENCONGTY] UNIQUE NONCLUSTERED 
(
	[TenCongTy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LENHDAT]    Script Date: 7/18/2022 10:44:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LENHDAT](
	[IdLenhDat] [int] IDENTITY(1,1) NOT NULL,
	[LoaiGiaoDich] [nchar](1) NOT NULL,
	[SoLuongDat] [int] NOT NULL,
	[GiaDat] [money] NOT NULL,
	[NgayGioDat] [datetime] NOT NULL,
	[MaCP] [nchar](10) NOT NULL,
	[MaTKNH] [nvarchar](15) NOT NULL,
	[MaLoaiLenh] [nchar](3) NOT NULL,
	[MaTrangThai] [int] NOT NULL,
 CONSTRAINT [PK_LENHDAT] PRIMARY KEY CLUSTERED 
(
	[IdLenhDat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LENHKHOP]    Script Date: 7/18/2022 10:44:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LENHKHOP](
	[IdLenhKhop] [int] IDENTITY(1,1) NOT NULL,
	[SoLuongKhop] [int] NOT NULL,
	[GiaKhop] [money] NOT NULL,
	[NgayGioKhop] [datetime] NOT NULL,
	[IdLenhDat] [int] NOT NULL,
 CONSTRAINT [PK_LENHKHOP] PRIMARY KEY CLUSTERED 
(
	[IdLenhKhop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LENHUNG]    Script Date: 7/18/2022 10:44:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LENHUNG](
	[IDLenhUng] [int] IDENTITY(1,1) NOT NULL,
	[SoTien] [money] NOT NULL,
	[PhiUng] [float] NOT NULL,
	[NgayYeuCau] [datetime] NOT NULL,
	[MaTK] [nchar](8) NOT NULL,
	[NgayBan] [date] NOT NULL,
 CONSTRAINT [PK_LENHUNG] PRIMARY KEY CLUSTERED 
(
	[IDLenhUng] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LICHSUGIA]    Script Date: 7/18/2022 10:44:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSUGIA](
	[MaCP] [nchar](10) NOT NULL,
	[Ngay] [date] NOT NULL,
	[GiaSan] [money] NOT NULL,
	[GiaTran] [money] NOT NULL,
	[GiaThamChieu] [money] NOT NULL,
 CONSTRAINT [PK_LICHSUGIA] PRIMARY KEY CLUSTERED 
(
	[MaCP] ASC,
	[Ngay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAILENH]    Script Date: 7/18/2022 10:44:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAILENH](
	[MaLoaiLenh] [nchar](3) NOT NULL,
 CONSTRAINT [PK_LOAILENH] PRIMARY KEY CLUSTERED 
(
	[MaLoaiLenh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGANHANG]    Script Date: 7/18/2022 10:44:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGANHANG](
	[MaNH] [nchar](3) NOT NULL,
 CONSTRAINT [PK_NGANHANG] PRIMARY KEY CLUSTERED 
(
	[MaNH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGAYBAN]    Script Date: 7/18/2022 10:44:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGAYBAN](
	[NgayBan] [date] NOT NULL,
 CONSTRAINT [PK_NGAYBAN] PRIMARY KEY CLUSTERED 
(
	[NgayBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGAYLICHSUGIA]    Script Date: 7/18/2022 10:44:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGAYLICHSUGIA](
	[Ngay] [date] NOT NULL,
 CONSTRAINT [PK_NGAY] PRIMARY KEY CLUSTERED 
(
	[Ngay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHADAUTU]    Script Date: 7/18/2022 10:44:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHADAUTU](
	[MaTK] [nchar](8) NOT NULL,
	[Ho] [nvarchar](50) NOT NULL,
	[Ten] [nvarchar](10) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[NoiSinh] [nvarchar](50) NOT NULL,
	[Phai] [nchar](3) NOT NULL,
	[DiaChi] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[SDT] [nvarchar](10) NOT NULL,
	[CMND/PassPort] [nvarchar](20) NOT NULL,
	[NgayCap] [date] NOT NULL,
	[NoiCap] [nvarchar](100) NOT NULL,
	[LoaiNhaDauTu] [nvarchar](15) NOT NULL,
	[MatMaGiaoDich] [nvarchar](15) NOT NULL,
	[MatKhauDatLenh] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_NHADAUTU] PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_CMND/PASSPORT] UNIQUE NONCLUSTERED 
(
	[CMND/PassPort] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_EMAIL] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_SODIENTHOAI] UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANGIAODICH]    Script Date: 7/18/2022 10:44:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANGIAODICH](
	[MaSan] [nchar](3) NOT NULL,
	[TenSan] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_SANGIAODICH] PRIMARY KEY CLUSTERED 
(
	[MaSan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_TENSAN] UNIQUE NONCLUSTERED 
(
	[TenSan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SOHUUCOPHIEU]    Script Date: 7/18/2022 10:44:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOHUUCOPHIEU](
	[MaTK] [nchar](8) NOT NULL,
	[MaCP] [nchar](10) NOT NULL,
	[SoLuongCoPhieu] [int] NOT NULL,
 CONSTRAINT [PK_SOHUUCOPHIEU] PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC,
	[MaCP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SOHUUTAIKHOAN]    Script Date: 7/18/2022 10:44:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOHUUTAIKHOAN](
	[MaNH] [nchar](3) NOT NULL,
	[MaTKNH] [nvarchar](15) NOT NULL,
	[TenNH] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_SOHUUTAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[MaNH] ASC,
	[MaTKNH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TKNH]    Script Date: 7/18/2022 10:44:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TKNH](
	[MaTKNH] [nvarchar](15) NOT NULL,
	[SoDu] [money] NOT NULL,
	[MaTK] [nchar](8) NOT NULL,
 CONSTRAINT [PK_TKNH] PRIMARY KEY CLUSTERED 
(
	[MaTKNH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRANGTHAI]    Script Date: 7/18/2022 10:44:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANGTHAI](
	[MaTrangThai] [int] NOT NULL,
	[TenTrangThai] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_TRANGTHAI] PRIMARY KEY CLUSTERED 
(
	[MaTrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[LENHDAT] ADD  CONSTRAINT [DF_LENHDAT_LoaiGiaoDich]  DEFAULT (N'M') FOR [LoaiGiaoDich]
GO
ALTER TABLE [dbo].[LICHSUGIA] ADD  CONSTRAINT [DF_LICHSUGIA_GiaSan]  DEFAULT ((0)) FOR [GiaSan]
GO
ALTER TABLE [dbo].[LICHSUGIA] ADD  CONSTRAINT [DF_LICHSUGIA_GiaTran]  DEFAULT ((0)) FOR [GiaTran]
GO
ALTER TABLE [dbo].[LICHSUGIA] ADD  CONSTRAINT [DF_LICHSUGIA_GiaThamChieu]  DEFAULT ((0)) FOR [GiaThamChieu]
GO
ALTER TABLE [dbo].[NGAYBAN] ADD  CONSTRAINT [DF_NGAYBAN_NgayBan]  DEFAULT (getdate()) FOR [NgayBan]
GO
ALTER TABLE [dbo].[NGAYLICHSUGIA] ADD  CONSTRAINT [DF_NGAYLICHSUGIA_Ngay]  DEFAULT (getdate()) FOR [Ngay]
GO
ALTER TABLE [dbo].[NHADAUTU] ADD  CONSTRAINT [DF_NHADAUTU_Phai]  DEFAULT (N'Nam') FOR [Phai]
GO
ALTER TABLE [dbo].[NHADAUTU] ADD  CONSTRAINT [DF_NHADAUTU_LoaiNhaDauTu]  DEFAULT (N'Trong Nước') FOR [LoaiNhaDauTu]
GO
ALTER TABLE [dbo].[TKNH] ADD  CONSTRAINT [DF_TKNH_SoDu]  DEFAULT ((0)) FOR [SoDu]
GO
ALTER TABLE [dbo].[CACQUYDINH]  WITH CHECK ADD  CONSTRAINT [FK_CACQUYDINH_SANGIAODICH] FOREIGN KEY([MaSan])
REFERENCES [dbo].[SANGIAODICH] ([MaSan])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CACQUYDINH] CHECK CONSTRAINT [FK_CACQUYDINH_SANGIAODICH]
GO
ALTER TABLE [dbo].[COPHIEU]  WITH CHECK ADD  CONSTRAINT [FK_COPHIEU_SANGIAODICH] FOREIGN KEY([MaSan])
REFERENCES [dbo].[SANGIAODICH] ([MaSan])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[COPHIEU] CHECK CONSTRAINT [FK_COPHIEU_SANGIAODICH]
GO
ALTER TABLE [dbo].[LENHDAT]  WITH CHECK ADD  CONSTRAINT [FK_LENHDAT_COPHIEU] FOREIGN KEY([MaCP])
REFERENCES [dbo].[COPHIEU] ([MaCP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LENHDAT] CHECK CONSTRAINT [FK_LENHDAT_COPHIEU]
GO
ALTER TABLE [dbo].[LENHDAT]  WITH CHECK ADD  CONSTRAINT [FK_LENHDAT_LOAILENH] FOREIGN KEY([MaLoaiLenh])
REFERENCES [dbo].[LOAILENH] ([MaLoaiLenh])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LENHDAT] CHECK CONSTRAINT [FK_LENHDAT_LOAILENH]
GO
ALTER TABLE [dbo].[LENHDAT]  WITH CHECK ADD  CONSTRAINT [FK_LENHDAT_TKNH] FOREIGN KEY([MaTKNH])
REFERENCES [dbo].[TKNH] ([MaTKNH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LENHDAT] CHECK CONSTRAINT [FK_LENHDAT_TKNH]
GO
ALTER TABLE [dbo].[LENHDAT]  WITH CHECK ADD  CONSTRAINT [FK_LENHDAT_TRANGTHAI] FOREIGN KEY([MaTrangThai])
REFERENCES [dbo].[TRANGTHAI] ([MaTrangThai])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LENHDAT] CHECK CONSTRAINT [FK_LENHDAT_TRANGTHAI]
GO
ALTER TABLE [dbo].[LENHKHOP]  WITH CHECK ADD  CONSTRAINT [FK_LENHKHOP_LENHDAT] FOREIGN KEY([IdLenhDat])
REFERENCES [dbo].[LENHDAT] ([IdLenhDat])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LENHKHOP] CHECK CONSTRAINT [FK_LENHKHOP_LENHDAT]
GO
ALTER TABLE [dbo].[LENHUNG]  WITH CHECK ADD  CONSTRAINT [FK_LENHUNG_NGAYBAN] FOREIGN KEY([NgayBan])
REFERENCES [dbo].[NGAYBAN] ([NgayBan])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LENHUNG] CHECK CONSTRAINT [FK_LENHUNG_NGAYBAN]
GO
ALTER TABLE [dbo].[LENHUNG]  WITH CHECK ADD  CONSTRAINT [FK_LENHUNG_NHADAUTU] FOREIGN KEY([MaTK])
REFERENCES [dbo].[NHADAUTU] ([MaTK])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LENHUNG] CHECK CONSTRAINT [FK_LENHUNG_NHADAUTU]
GO
ALTER TABLE [dbo].[LICHSUGIA]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUGIA_COPHIEU] FOREIGN KEY([MaCP])
REFERENCES [dbo].[COPHIEU] ([MaCP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LICHSUGIA] CHECK CONSTRAINT [FK_LICHSUGIA_COPHIEU]
GO
ALTER TABLE [dbo].[LICHSUGIA]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUGIA_NGAYLICHSUGIA] FOREIGN KEY([Ngay])
REFERENCES [dbo].[NGAYLICHSUGIA] ([Ngay])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LICHSUGIA] CHECK CONSTRAINT [FK_LICHSUGIA_NGAYLICHSUGIA]
GO
ALTER TABLE [dbo].[SOHUUCOPHIEU]  WITH CHECK ADD  CONSTRAINT [FK_SOHUUCOPHIEU_COPHIEU] FOREIGN KEY([MaCP])
REFERENCES [dbo].[COPHIEU] ([MaCP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SOHUUCOPHIEU] CHECK CONSTRAINT [FK_SOHUUCOPHIEU_COPHIEU]
GO
ALTER TABLE [dbo].[SOHUUCOPHIEU]  WITH CHECK ADD  CONSTRAINT [FK_SOHUUCOPHIEU_NHADAUTU] FOREIGN KEY([MaTK])
REFERENCES [dbo].[NHADAUTU] ([MaTK])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SOHUUCOPHIEU] CHECK CONSTRAINT [FK_SOHUUCOPHIEU_NHADAUTU]
GO
ALTER TABLE [dbo].[SOHUUTAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_SOHUUTAIKHOAN_NGANHANG] FOREIGN KEY([MaNH])
REFERENCES [dbo].[NGANHANG] ([MaNH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SOHUUTAIKHOAN] CHECK CONSTRAINT [FK_SOHUUTAIKHOAN_NGANHANG]
GO
ALTER TABLE [dbo].[SOHUUTAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_SOHUUTAIKHOAN_TKNH] FOREIGN KEY([MaTKNH])
REFERENCES [dbo].[TKNH] ([MaTKNH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SOHUUTAIKHOAN] CHECK CONSTRAINT [FK_SOHUUTAIKHOAN_TKNH]
GO
ALTER TABLE [dbo].[COPHIEU]  WITH CHECK ADD  CONSTRAINT [CK_COPHIEU_SL] CHECK  (([SoLuongNiemYet]>(0)))
GO
ALTER TABLE [dbo].[COPHIEU] CHECK CONSTRAINT [CK_COPHIEU_SL]
GO
ALTER TABLE [dbo].[LENHDAT]  WITH CHECK ADD  CONSTRAINT [CK_GIADAT] CHECK  (([GiaDat]>(0)))
GO
ALTER TABLE [dbo].[LENHDAT] CHECK CONSTRAINT [CK_GIADAT]
GO
ALTER TABLE [dbo].[LENHDAT]  WITH CHECK ADD  CONSTRAINT [CK_LOAIGIAODICH] CHECK  (([LoaiGiaoDich]='B' OR [LoaiGiaoDich]='M'))
GO
ALTER TABLE [dbo].[LENHDAT] CHECK CONSTRAINT [CK_LOAIGIAODICH]
GO
ALTER TABLE [dbo].[LENHDAT]  WITH CHECK ADD  CONSTRAINT [CK_SOLUONGDAT] CHECK  (([SoLuongDat]>(0)))
GO
ALTER TABLE [dbo].[LENHDAT] CHECK CONSTRAINT [CK_SOLUONGDAT]
GO
ALTER TABLE [dbo].[LENHKHOP]  WITH CHECK ADD  CONSTRAINT [CK_GIAKHOP] CHECK  (([GiaKhop]>(0)))
GO
ALTER TABLE [dbo].[LENHKHOP] CHECK CONSTRAINT [CK_GIAKHOP]
GO
ALTER TABLE [dbo].[LENHKHOP]  WITH CHECK ADD  CONSTRAINT [CK_SOLUONGKHOP] CHECK  (([SoLuongKhop]>(0)))
GO
ALTER TABLE [dbo].[LENHKHOP] CHECK CONSTRAINT [CK_SOLUONGKHOP]
GO
ALTER TABLE [dbo].[LENHUNG]  WITH CHECK ADD  CONSTRAINT [CK_PHIUNG] CHECK  (([PhiUng]>(0)))
GO
ALTER TABLE [dbo].[LENHUNG] CHECK CONSTRAINT [CK_PHIUNG]
GO
ALTER TABLE [dbo].[LENHUNG]  WITH CHECK ADD  CONSTRAINT [CK_SOTIEN] CHECK  (([SoTien]>(0)))
GO
ALTER TABLE [dbo].[LENHUNG] CHECK CONSTRAINT [CK_SOTIEN]
GO
ALTER TABLE [dbo].[LICHSUGIA]  WITH CHECK ADD  CONSTRAINT [CK_GiaSan] CHECK  (([GiaSan]>=(0)))
GO
ALTER TABLE [dbo].[LICHSUGIA] CHECK CONSTRAINT [CK_GiaSan]
GO
ALTER TABLE [dbo].[LICHSUGIA]  WITH CHECK ADD  CONSTRAINT [CK_GiaThamChieu] CHECK  (([GiaThamChieu]>=(0)))
GO
ALTER TABLE [dbo].[LICHSUGIA] CHECK CONSTRAINT [CK_GiaThamChieu]
GO
ALTER TABLE [dbo].[LICHSUGIA]  WITH CHECK ADD  CONSTRAINT [CK_GiaTran] CHECK  (([GiaTran]>=(0)))
GO
ALTER TABLE [dbo].[LICHSUGIA] CHECK CONSTRAINT [CK_GiaTran]
GO
ALTER TABLE [dbo].[NHADAUTU]  WITH CHECK ADD  CONSTRAINT [CK_LOAINHADAUTU] CHECK  (([LoaiNhaDauTu]=N'Trong Nước' OR [LoaiNhaDauTu]=N'Ngoài Nước'))
GO
ALTER TABLE [dbo].[NHADAUTU] CHECK CONSTRAINT [CK_LOAINHADAUTU]
GO
ALTER TABLE [dbo].[NHADAUTU]  WITH CHECK ADD  CONSTRAINT [NHADAUTU_PHAI] CHECK  (([Phai]='Nam' OR [Phai]=N'Nữ'))
GO
ALTER TABLE [dbo].[NHADAUTU] CHECK CONSTRAINT [NHADAUTU_PHAI]
GO
ALTER TABLE [dbo].[SOHUUCOPHIEU]  WITH CHECK ADD  CONSTRAINT [CK_SoLuongCoPhieu] CHECK  (([SoLuongCoPhieu]>(0)))
GO
ALTER TABLE [dbo].[SOHUUCOPHIEU] CHECK CONSTRAINT [CK_SoLuongCoPhieu]
GO
ALTER TABLE [dbo].[TKNH]  WITH CHECK ADD  CONSTRAINT [TKNH_SoDu] CHECK  (([SoDu]>=(0)))
GO
ALTER TABLE [dbo].[TKNH] CHECK CONSTRAINT [TKNH_SoDu]
GO
ALTER TABLE [dbo].[TRANGTHAI]  WITH CHECK ADD  CONSTRAINT [CK_TENTRANGTHAI] CHECK  (([TenTrangThai]=N'Chờ Khớp' OR [TenTrangThai]=N'Khớp 1 phần' OR [TenTrangThai]=N'Khớp Hết' OR [TenTrangThai]=N'Đã Hủy' OR [TenTrangThai]=N'Chưa Khớp'))
GO
ALTER TABLE [dbo].[TRANGTHAI] CHECK CONSTRAINT [CK_TENTRANGTHAI]
GO
USE [master]
GO
